<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/crossfilter.js') }}"></script>
    <script src="{{ url_for('static', filename='js/d3.js') }}"></script>
    <script src="{{ url_for('static', filename='js/dc.js') }}"></script>
    <script src="{{ url_for('static', filename='js/queue.js') }}"></script>
    <script src="{{ url_for('static', filename='js/keen.min.js') }}"></script>

    <title>Dashboard</title>
    <link rel="stylesheet" href="./static/assets/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="./static/assets/css/keen-dashboards.css">
    <link rel="stylesheet" href="./static/css/dc.css">
    <link rel="stylesheet" href="./static/css/david.css">


</head>
<body class="application">

<script>


num_mes = {{num_mes}}
nome_mes = "{{nome_mes}}"
filtro = "{{filtro}}"

function mudar_mes(me){

    var drop_mes = document.getElementById("drop_mes");
    num_mes = drop_mes.options[drop_mes.selectedIndex].value;
    nome_mes = drop_mes.options[drop_mes.selectedIndex].text;

    var drop_campo = document.getElementById("drop_campo");
    var drop_regex = $('#drop_regex');
    filtro = drop_campo.options[drop_campo.selectedIndex].text;
    filtro += ":" + drop_regex.val()

    queue()
    .defer(d3.json, "/relatorio/?mes=" + num_mes + "&filtro=" + filtro)
    .await(makeGraphs);
}


function add_filtro(me){
  var newInput = $("<input name='new_field' type='text'>");
  $('#div_filtros').after(newInput);
};




    </script>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="./">Sitescope Alerts Dashboard</a>
        </div>
    </div>
</div>

<div id="div_filtros">
    Mes:
    <select id="drop_mes">
        <option value="10">Outubro/2015</option>
        <option value="9">Setembro/2015</option>
        <option value="8">Agosto/2015</option>
    </select>
</div>

Filtros:
<select id="drop_campo">
    {% for elemento in possiveis_filtros %}
    <option value="{{ elemento }}">{{elemento}}</option>
    {% endfor %}
</select>
Regex: <input type="text" name="drop_regex" id="drop_regex">
<input type="submit" value="Buscar" onclick="mudar_mes(this)">

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-8">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Alertas por dia {{mes}}
                </div>
                <div class="chart-stage">
                    <div id="time-chart"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Alertas selecionados
                </div>
                <div class="chart-stage">
                    <div id="numero-alertas"></div>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart-title">
                    Tipo de alerta
                </div>
                <div class="chart-stage">
                    <div id="tipo-alertas"></div>
                </div>
            </div>
        </div>
        <div class="col-sm-2">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Chamados abertos
                </div>
                <div class="chart-stage">
                    <div id="numero-chamados"></div>
                </div>
            </div>
            <div class="chart-wrapper">
                <div class="chart-title">
                    Criticidade
                </div>
                <div class="chart-stage">
                    <div id="criticidade"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="chart-wrapper">
                <div class="chart-title">
                    Tabela
                </div>
                <div class="chart-stage">
                    <table class="table table-hover alerts-table">
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<hr>
<p class="small text-muted">Python carai</p>

<script src="{{ url_for('static', filename='js/graphs.js') }}"></script>
</body>
</html>